# Frontend
frontend/node_modules
frontend/.next
frontend/dist
frontend/build

# Backend
server/node_modules
utils/seedData.js

# Environment files
frontend/.env
frontend/.env.local
server/.env

# Logs
*.log

# OS files
.DS_Store